<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.ticket.dao.TicketDAO">
    <select id="idCheck" parameterType="String" resultType="Integer">
        SELECT  count(*)
        FROM users
        WHERE userId = #{userId}
    </select>

    <insert id="saveJoinForm" parameterType="com.pj.ticket.vo.TicketVo">
        INSERT INTO users(userId, password, userName, telno, point, createdAt, updatedAt, birtyD)
        VALUES(
                #{userId}
              , #{userPw}
              , #{userName}
              , #{telNo}
              , 0
              , sysdate()
              , sysdate()
              , #{birtyD}
          )
    </insert>


    <select id="userChk" parameterType="com.pj.ticket.vo.TicketVo" resultType="com.pj.ticket.vo.TicketVo">
        SELECT userId, password, userName, telno, point, createdAt, updatedAt, birtyD
        FROM users
        WHERE userId = #{userId} AND password = #{userPw}
    </select>

    <select id="findUserById" parameterType="String" resultType="com.pj.ticket.vo.TicketVo">
        SELECT  userId, password, userName, telno, point, createdAt, updatedAt, birtyD
        FROM users
        WHERE userId = #{userId}
    </select>

<!-- 티켓 예약 리스트 -->
    <select id="searchTickets" parameterType="com.pj.ticket.vo.TicketVo" resultType="com.pj.ticket.vo.TicketVo">
        SELECT
            sp.seatPriceId,
            bs.ticketId,
            u.userName AS userName,
            bs.ticketName AS ticketName,
            bs.ticketType AS ticketType,
            sp.status as status,
            sp.usedDt AS usedDt
        FROM
            seatprice sp
        JOIN
            Users u ON sp.userId = u.userId
        JOIN
            book_show bs ON sp.ticketId = bs.ticketId
        WHERE 1=1
            AND sp.usedDt BETWEEN #{startDate} AND #{endDate}
            AND u.userId = #{userId}
        <if test="ticketType != null and ticketType != ''">
            AND bs.ticketType = #{ticketType}
        </if>
        GROUP BY sp.ticketId, u.userId, bs.placeId
    </select>


    <update id="updateUser" parameterType="com.pj.ticket.vo.TicketVo">
        UPDATE users
        SET
            updatedAt = sysdate()
            <if test="userPw != null and userPw != ''">
                , password = #{userPw}
            </if>
            <if test="userName != null and userName != ''">
                , userName = #{userName}
            </if>
        WHERE userId = #{userId}
    </update>


    <select id="searchMatchCard" parameterType="com.pj.ticket.vo.TicketVo" resultType="com.pj.ticket.vo.TicketVo">
        SELECT ticketId
             , placeId
             , placeName
             , ticketName
             , description
             , ticketType
             , homeTeam
             , homeTeamLogo
             , awayTeam
             , awayTeamLogo
             , startDate
             , openDate
        FROM book_show
        WHERE 1=1
    </select>

    
    <select id="ticketPopupSeat" parameterType="String" resultType="com.pj.ticket.vo.TicketVo">
        SELECT bs.ticketId, bs.ticketName, bs.startDate, bs.homeTeamLogo
             , p.placeId, p.placeName, p.address, p.seatZone, p.seatRow, p.seatCol
        FROM book_show bs
            LEFT JOIN place p on bs.placeId = p.placeId
        WHERE p.placeId = #{placeId}
    </select>

    <insert id="reserveInsert" parameterType="com.pj.ticket.vo.TicketVo">
        INSERT INTO seatprice(ticketId, userId, placeId, price, seatZone, seatRow, seatCol, usedDt)
        VALUES(#{ticketId}, #{userId}, #{placeId}, #{price}, #{seatZone}, #{seatRow}, #{seatCol}, #{usedDt});
    </insert>
</mapper>